/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.phone-border {
  margin: 10px auto;
  width: 375px;
  height: max-content;
  border: 16px solid #000;
  border-width: 60px 0;
  box-shadow: 0 0 30px gray;
  border-radius: 25px;
}

.d-none {
  display: none;
}

.icon-selection {
  display: flex;
  flex-direction: column;
}

.icon-header {
  margin-bottom: 10px; /* Espacio entre el texto y los íconos */
}

.icon-label {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  margin: 5px;
}

.icon-label:hover {
  border: 2px solid blue;
}

input[type="radio"]:checked + .icon-label {
  border: 2px solid green;
}
