<div class="border fit footer">
  <span>
    Build with ๐งก By:
    <a
    href="https://github.com/DilsherB"
    target="_blank"
    rel="noreferrer"
    >
    Dilsher Balouch (GitHub)
    </a>
  </span>
</div>
